<h5>Admin#index</h5>

<div class="container">
  <%= link_to "Feedbacks", feedbacks_path %> <br>
</div>

<% if current_user.has_role? :super_admin %>

<div class="container">
  <%= link_to "Subjects", subjects_path %> <br>
  <%= link_to "Faculties", faculties_path %> <br>
  <%= link_to "Programs", programs_path %> <br>
  <%= link_to "Sections", sections_path %> <br>
  <%= link_to "Faculty Subjects", faculty_subjects_path %>
</div>


<div>
  <h4>Import Subject from Excel sheet </h4>
  <%= form_tag admin_subject_import_path, multipart: true do %>
    <%= file_field_tag :subject_file %>
    <%= submit_tag "Import" %>
  <% end %>
</div>


<div>
  <h4>Import Users from Excel sheet </h4>
  <%= form_tag admin_user_import_path, multipart: true do %>
    <%= file_field_tag :user_file %>
    <%= submit_tag "Import" %>
  <% end %>
</div>

<div>
  <h4>Import StudentSubject from Excel sheet </h4>
  <%= form_tag admin_user_subject_import_path, multipart: true do %>
    <%= file_field_tag :user_subject_file %>
    <%= submit_tag "Import" %>
  <% end %>
</div>

<div>
  <h4>Import FacultySubject from Excel sheet </h4>
  <%= form_tag admin_faculty_subject_import_path, multipart: true do %>
    <%= file_field_tag :faculty_subject_file %>
    <%= submit_tag "Import" %>
  <% end %>
</div>

<% end %>
