<p id="notice"><%= notice %></p>

<h1>Student Subjects</h1>

<table>
  <thead>
    <tr>
      <th>Student</th>
      <th>Section</th>
      <th>Semester</th>
      <th>Subject</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @student_subjects.each do |student_subject| %>
      <tr>
        <td><%= student_subject.user.roll %></td>
        <td><%= student_subject.section.name %></td>
        <td><%= student_subject.semester.number %></td>
        <td><%= student_subject.subject.name %></td>
        <td><%= link_to 'Show', student_subject %></td>
        <td><%= link_to 'Edit', edit_student_subject_path(student_subject) %></td>
        <td><%= link_to 'Destroy', student_subject, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Student Subject', new_student_subject_path %>
