<% provide :title, "#{@faculty.name} details" %>

<div class="container">
  <h4><%= @faculty.name %> <small>(<%= @program.nane %>)</small> </h4>

  <!-- Total rating : <%# @total_rating %> <br> -->


<% rate = 0 %>

  <h5>Subjects Associated </h5>
  <% @faculty.subjects.each do |subject| %>
    <%= subject.name %> <br>
  <% end %>

<h5>Ratings given </h5>

  <table>
    <thead>
      <tr>
        <th>Subject Name</th>
        <th>Month</th>
        <th>Year</th>
        <th>Subject Rating</th>
        <th>Student Count</th>
      </tr>
    </thead>
      <% @fac_feedbacks.each do |fac_feed| %>
        <tr>
          <td> <%= fac_feed.subject.name %> </td>
          <td><%= get_month_from_no fac_feed.month_no %></td>
          <td><%= fac_feed.year %></td>
          <td><%= calc_rating(fac_feed)  %></td>
          <td><%= student_count fac_feed %></td>
        </tr>
      <% end %>
    <tbody>

    </tbody>
  </table>

</div>
