<p id="notice"><%= notice %></p>

<div class="container">
  <div class="row">
    <div class="col s12 m4">
      <!-- <h6>select Faculty</h6> -->
      <%# @subjects.each do |subject| %>
        <%# link_to subject.name, '#' %>
      <%# end %>
      <%# @faculties.each do |faculty| %>
        <%# link_to faculty.name, "#" %>
      <%# end %>

      <%= form_tag feedbacks_faculty_path do  %>
        <%= select_tag "faculty", options_from_collection_for_select(@faculties, "id", "name") %>
        <%= submit_tag "fetch records" %>
      <% end %>


    </div>

    <div class="col s12 m4">

    </div>

    <div class="col s12 m4">

    </div>
  </div>
</div>


<h1>Feedbacks</h1>

<table>
  <thead>
    <tr>
      <th>Rating</th>
      <th>Subject</th>
      <th>Faculty</th>
      <th>Semester</th>
      <th>Program</th>
      <th>Month</th>
      <th>Year</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @feedbacks.each do |feedback| %>
      <tr>
        <td><%= feedback.rating %></td>
        <td><%= feedback.subject.name if feedback.subject %></td>
        <td><%= feedback.faculty.name if feedback.faculty %></td>
        <td><%= feedback.semester.number if feedback.semester %></td>
        <td><%= feedback.program.nane if feedback.program %></td>
        <td><%= get_month_from_no feedback.month_no %></td>
        <td><%= feedback.year %></td>
        <td><%= link_to 'Show', feedback %></td>
        <td><%= link_to 'Edit', edit_feedback_path(feedback) %></td>
        <td><%= link_to 'Destroy', feedback, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Feedback', new_feedback_path %>
