<% provide :title, "Feed Form" %>

<% if current_user %>

<div class="container" id="program_check_div">
  Program : <%= select_tag "program", options_from_collection_for_select(@programs, "id", "nane"), include_blank: true %>
  Semester : <%= select_tag "semester", options_from_collection_for_select(@semesters, "id", "number"), include_blank: true %>
  Subject : <%= select_tag "subject", options_from_collection_for_select(@subjects, "id", "name"), include_blank: true %>
  Faculty : <%= select_tag "faculty", options_from_collection_for_select(@faculties, "id", "name"), include_blank: true %>
  Batch : <%= select_tag "batch", options_for_select([  "16-17", "17-18", "13-14", "14-15", "15-16" ]) %>

  <button type="button" name="button" id="proceed_check">Proceed</button>
</div>


<% i = 1 %>
<div class="container" id="form_submission">

  <div align="center">
    <h5><b>FEEDBACK FROM STUDENTS</b></h5>
  </div>

  <div>
    <div class="col m3"> </div>

    <div class="col m6">

        <% @criterias.each do |criteria| %>
          <div class="card-panel" id="card<%=i%>">
            <br>
            <div class="row">
              <div class="col m6">
                <h6><%= i %>. <%= criteria.title %></h6>
                <%# if criteria.description != nil %>
                  <%# criteria.description.html_safe %>
                <%# end %>
              </div>

              <div class="col m6" align="left">
                <br>
                 <input name="group1<%= i %>" type="radio" id="test1<%= i %>" onclick="takeData(<%= 1 %>, <%= i%>)" />
                 <label for="test1<%= i %>">Below Average</label> <br>

                 <input name="group1<%= i %>" type="radio" id="test2<%= i %>" onclick="takeData(<%= 2 %>, <%= i%>)" />
                 <label for="test2<%= i %>">Average</label> <br>

                 <input name="group1<%= i %>" type="radio" id="test3<%= i %>" onclick="takeData(<%= 3 %>, <%= i%>)" />
                 <label for="test3<%= i %>">good</label> <br>

                 <input name="group1<%= i %>" type="radio" id="test4<%= i %>" onclick="takeData(<%= 4 %>, <%= i%>)" />
                 <label for="test4<%= i %>">Very Good</label> <br>

                 <input name="group1<%= i %>" type="radio" id="test5<%= i %>" onclick="takeData(<%= 5 %>, <%= i%>)" />
                 <label for="test5<%= i %>">Outstanding</label>

              </div>
            </div>
          </div>
          <% i += 1 %>
        <% end %>

        <!-- <button type="button" name="button" onclick="showSum()">Submit</button> -->
        <a href="/feed_form/thankyou" class="btn waves-effect waves-light" onclick="showSum()">
          <i class="material-icons right">send</i>Submit
        </a>

    </div>
    <div class="col m3"></div>
  </div>
  <br>
</div>

<script type="text/javascript">
  $('select').material_select();

  $("#form_submission").closest('div').hide();



  var sum=0;
  function takeData(number, i) {
    sum += number;
    $("#card"+i).closest('div').fadeOut();
  }

  function resetSum(number) {
    sum = sum-number;
    // alert(sum);
  }

  function showSum() {
    // alert(sum);
    var d = new Date();
    var month_no = d.getMonth();
    var year = d.getFullYear();
    $.ajax({
        type: "POST",
        cache: false,
        url: "/feed_form/user_input",
        data: {
          sum1 : sum,
          bar : 'foo',
          user_id : '<%= current_user.id %>',
          program_id  : $("#program").val(),
          subject_id  : $("#subject").val(),
          semester_id : $("#semester").val(),
          faculty_id  : $("#faculty").val(),
          batch       : $("#batch").val(),
          month_no    : month_no + 1,
          year        : year
        },    // multiple data sent using ajax
        success: function (html) {
          // $('#add').val('data sent sent');
          // $('#msg').html(html);
        }
      });
  }

  $("#proceed_check").click(function(){
    $("#program_check_div").closest('div').fadeOut();
    $("#form_submission").closest('div').fadeIn();
  });

</script>


<% end %>
